.home_message li{
    color: #1c33ad;
    font-family: Calibri;
    font-size: 1.6vmax;
}

#task_title{
    background-color: #4e9a81;
    color: white;
    font-size: 1.2vmax;
}

.update_button{
    color: black;
    background-color: white;

}
.update_button:hover{
    color: black;
    background-color: #4e9a81;

}
.delete_button{
    color: black;
    background-color: white;

}
.delete_button:hover{
    color: black;
    background-color: #4e9a81;

}

.label-default {
    background-color: #4e9a81;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 118%;
    font-weight: 500;
    line-height: 2;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}


.btn-group-lg>.btn, .btn-lg {
    padding: 6px 16px;
    font-size: 14px;
    line-height: 1.333333;
    border-radius: 10px;
}

#add_task_button{
    padding: 15px 16px;
    font-size: 20px;
    line-height: 1.333333;
    border-radius: 10px;
}