<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}

    {%  include 'head_css.html' %}
    {%  include 'body_css.html' %}

    {% endblock %}

    <style>
        {%  block style %}

        {% endblock %}
    </style>

  </head>
  <body>

  {%  include 'navbar.html' %}

  {% block body %}

        {% block content %}
        {% endblock %}


  {% endblock %}

    {% block extra_body %}
    {% endblock %}

{% include 'javascript.html' %}
  </body>
</html>