{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="container ">
            <div class="row">
            <div class="col-sm-offset-2"></div>
        {% if messages %}
            <div class="alert alert-success home_message" role="alert">
             <strong>Messages:</strong>
            <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
              </ul>
            </div>
        {% endif %}
        </div>
    </div>



{% if request.user.is_authenticated %}
    <span class="label label-default"><i class="fa fa-user-o" aria-hidden="true"></i> User {{ request.user }} tasks</span>
{% endif %}


    {% block tasks %}

   {% endblock tasks %}


{%  if request.user.is_authenticated %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="add_task_button">
  <i class="fa fa-tasks" aria-hidden="true"></i>
    add new task
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
         <form action="." method="post">
        {% csrf_token %}
            {{ form|crispy }}
      <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
        </form>
      </div>
    </div>
  </div>
</div>
{%  endif %}
{% endblock body %}


{% block content %}

{% endblock %}