<nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=".">TEST TASK</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'tasks:home' %}">Home</a></li>


{#            <li><a href="{% url 'newsletter:contact' %}">Contact</a></li>#}
            {% if user.is_authenticated %}
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">task manager <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'tasks:public' %}" id="public_tasks">See all public tasks</a></li>
                <li><a href="{% url 'tasks:public_my' %}" id="private_tasks" >See my public tasks</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Privacy menu</li>
                <li><a href="{% url 'tasks:private_tasks' %}">See my private tasks</a></li>
              </ul>
            </li>
              {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}

            <li> <button type="button " class="btn btn-default navbar-btn"><a href="{% url 'account_email' %}">Change E-mail</a></button></li>
            <li> <button type="button " class="btn btn-default navbar-btn"><a href="{% url 'account_logout' %}">Sign Out</a></button></li>
            {% else %}
            <li><button type="button " class="btn btn-default navbar-btn"><a href="{% url 'account_login' %}">Sign In</a></button></li>
            <li><button type="button " class="btn btn-default navbar-btn"><a href="{% url 'account_signup' %}">Sign Up</a></button></li>
          {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>