{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block tasks %}
     <div class="container">
        <div class="row">
            <div class="col-sm-8 kanban-tasks">
                  {% for tasker in task %}
                  <div class="col-sm-4">

                      <button type="button" class="btn btn-primary btn-lg update_button" data-toggle="modal" data-target="#myModal">
                          <i class="fa fa-pencil-square-o pull-right fa-2x" aria-hidden="true"></i>
                      </button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                              </div>
                              <div class="modal-body">
                                 <form action="." method="post">
                                {% csrf_token %}
                                    {{ form|crispy }}
                              <div class="modal-footer">
                                  <a href="/update_task/{{ tasker.id }}/"><input class="btn btn-default" type="submit" value="Submit"></a>
                              </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>


{#                      <p class="list-group-item">#}
                       <button type="button" class="btn btn-primary btn-lg delete_button">

                           <a href="/delete_task/{{ tasker.id }}/"><i class="fa fa-eraser fa-2x" aria-hidden="true"></i></a>

                       </button>
{#                      </p>#}


                      <p class="list-group-item" id="task_title"><i class="fa fa-tasks" aria-hidden="true"></i>
                           Title: {{ tasker.title }}</p>
                      <p class="list-group-item">Description: {{ tasker.description }}</p>
                      <p class="list-group-item">Staus: {{ tasker.get_status_display }} </p>
                      <p class="list-group-item"><strong>Privacy: {{ tasker.get_privacy_display }}</strong> </p>
                  </br >
                  </div>
                  {% endfor %}
            </div>

{% endblock tasks %}