{% extends 'home.html' %}

{% block tasks %}
     <div class="container">
        <div class="row">
            <div class="col-sm-8 kanban-tasks">
                  {% for tasker in task %}
                  <div class="col-sm-4">
                      <p class="list-group-item" id="task_title"><i class="fa fa-tasks" aria-hidden="true"></i>
                           Title: {{ tasker.title }}</p>
                      <p class="list-group-item">Description: {{ tasker.description }}</p>
                      <p class="list-group-item">Staus: {{ tasker.get_status_display }} </p>
                      <p class="list-group-item"><strong>Privacy: {{ tasker.get_privacy_display }}</strong> </p>
                  </br >
                  </div>
                  {% endfor %}
            </div>

{% endblock tasks %}