{#{%  extends 'base.html' %}#}
{#    {% block body %}#}
{#        {% block tasks %}#}
{#        <div class="list-group">#}
{#         {%  for task in task %}#}
{#             <a href="#" class="list-group-item">{{ task.title }}</a>#}
{#        </div>#}
{#        {% endfor %}#}
{##}
{#    {% endblock tasks %}#}
{#    {% endblock body %}#}

{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block tasks %}
      <div class="container">
        <div class="row">
            <div class="col-sm-8 kanban-tasks">
                  {% for tasker in task %}
                  <div class="col-sm-4">
                      <p class="list-group-item" id="task_title">Title: {{ tasker.title }}</p>
                      <p class="list-group-item">Description: {{ tasker.description }}</p>
                      <p class="list-group-item">Staus: {{ tasker.get_status_display }} </p>
                  </br >
                  </div>
                  {% endfor %}
            </div>


{% endblock tasks %}