{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="." method="post">
        {% csrf_token %}
     {{ form|crispy }}
      <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
        </form>
</body>
</html>