<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <title>Task  - Task created</title>
</head>
<body>

<h2>Hello,{{ username }}.</h2>
<h3>Tas was created by {{ sender }}.</h3>
<p>new task created</p>
<p>Have a nice day.</p>
</body>
</html>
